<%= simple_form_for([@community, @map]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :about %>
    <%= f.input :description %>
    <%= f.input :image, as: :file %>
    <%= f.input :access, collection: ACCESS_LEVEL, selected: ACCESS_LEVEL[:COMMUNITY_ONLY] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
