<p id="notice"><%= notice %></p>

<h1> 確認してください</h1>
<p> 確認してください</p>

<h2><%= @profile.user.name %></h2>
<%= image_tag @profile.avatar_url %>
<%= Profile::SEX_TYPE.key(@profile.sex) %>
<%= @profile.introduction.html_safe %>
<%= @profile.birth %>

<%= form_for @profile do |f| %>
    <%= f.hidden_field :avatar_cache %>
    <%= f.hidden_field :avatar %>
    <%= f.hidden_field :sex %>
    <%= f.hidden_field :introduction %>
    <%= f.hidden_field :birth %>
    <%= link_to 'キャンセル', :back, class: "btn btn-default" %>
    <%= f.submit "実行する", name: "confirm" %>
<% end %>