<div class="container">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="single-widget-container">
  <section class="widget login-widget">
      <header>
        <h2>Sign up <small>さばとらをはじめる</small></h2>
      </header>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :name, required: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "新規登録", :class=>"btn btn-info btn-lg btn-block" %>
        <div class="forgot">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </section>
</div>
<% end %>
<div class="space01"></div>
</div>