	<div class="body">
	<p>名前：<%= @character.name %></p>
    <p><%= image_tag @character.image %></p>
    <p>プロフィール：<%= @character.profile %></p>
    <p>パラメータ：<%= @character.paramaters %></p>
    <p>ステータス：<%= @character.status %></p>
    <p>メモ：<%= @character.memo %></p>
	</div>
