<section class="room">
  <!-- Content -->
    <%= hidden_field :room, :id, value: @room.id %>
  <% if @character.present? %>
      <%= hidden_field :character, :id, value: @character.id  %>
  <% end %>
    <div id="playspace_container">
    <canvas id="playspace"></canvas>
    </div>
    
  <div class="row">
    <div class="col-md-3 widget-container ui-sortable">
    <% unless @character.nil? %>
      <section id="my_status" class="widget" data-widgster-collapsed="true" data-widgster-load="<%= character_status_community_room_path(@community, @room) %>">
        <header>
        <h5>My Status</h5>
            <%= render "widget_controls" %>
       </header>
         <div class="body">
        <%= render :partial => "character_status", locals: { character: @character} %>
        </div>
      </section>
    <% end %>
    </div>
    <div class="col-md-3 widget-container ui-sortable">
      <section id="member_status" class="widget" data-widgster-collapsed="true" data-widgster-load="<%= member_statuses_community_room_path(@community, @room) %>">
            <header>
              <h5>Member Status</h5>
             <%= render "widget_controls" %>
             </header>
             <div class="body">
            <%= render "member_status" %>
             </div>
      </section>
    </div>
  </div>

  <%= render "chat/chat_form" %>

  <div class="session_room_bottom">
    <div class="space01"></div>
    <%= render "chat_log" %>
    <section id="controller">
      <div class="row">
          <div class="col-md-12">
              <select name="illustrations" id="illustrations" class="form-control size_lavel" ></select>
          </div>
      </div>
    </section>
  </div>

</section>
    
<div class="modal" id="back_change">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4 class="modal-title">背景変更</h4>
        </div>
        <div class="modal-body">
            <% if @room.backgrounds.count > 0 %>
            <%= collection_select :background, :select, @room.backgrounds, :id, :name, selected: @room.active_background.id %>
          <% end %>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">閉じる</a>
        </div>
    </div>
  </div>
</div>

<script>
    window.chatLogClass = new ChatLogClass();
    window.playRoomClass = new PlayRoomClass($('#chat').data('uri'), true);
    window.chatClass = new ChatClass($('#chat').data('uri'), true);
    console.log("chat ready");
</script>