<h1>立ち絵一覧</h1>
<p>登録された立ち絵の一覧です。</p>
<div class="space01"></div>  
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <section class="widget">
      <header>
        <h4>
          <i class="fa fa-users"></i>
          立ち絵一覧
        </h4>
      </header>
      <%= simple_form_for([@community, @illustration], url: {action: :create, format: :json}) do |f| %>
        <div class="dropzone" style="cursor: pointer;">
          Drop new files here <small>(or click)</small>
        </div>  
        <div class="hide"><%= f.input :image, as: :file %></div>
      <% end%>
      <div class="body">
        <ul class="row thumbnails">
          <% @illustrations.each do |illustration| %>
            <li class="col-sm-4">
              <div class="thumbnail">
                <%= link_to image_tag(illustration.image, :style=>"width:100%; height:100%;"), [@community, illustration], { :class=>"thumb", :gallery=>"gallery" } %>

                <div class="caption">
                  <h4><%= illustration.name %></h4>
                  <p>
                  <%= link_to '編集', edit_community_illustration_path(@community, illustration), :class=>"btn btn btn-inverse" %>
                  <%= link_to '削除', [@community, illustration], method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, :class=>"btn btn-danger" %>
                  </p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</div>

<div class="space01"></div>
<section class="widget">
  <ol class="breadcrumb">
    <li><%= link_to "戻る", :back %></li>
  </ol>
</section>

<script>
(function($){
  $('form').fileupload({
    dropzone: $('.dropzone'),
    add: function(e, data){
      $("<li class='col-sm-4'><div class='thumbnail'>Sending...</div></li>")
        .prependTo(".body ul");
    },
    done: function(){location.reload();}
  }).on("click",".dropzone", function(e){
    $("#illustration_image").click();
  });
})(jQuery);
</script>
