<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @illustration.name %>
</p>
<p>
  <strong>description:</strong>
  <%= @illustration.description %>
</p>
<%= image_tag @illustration.image %>
<%= @illustration.access %>

<%= link_to 'Edit', edit_community_illustration_path(@community, @illustration) %> |
<%= link_to 'Back', community_illustrations_path(@community) %>
