<h1>Listing communities_scenarios</h1>

<table>
  <thead>
    <tr>
      <th>シナリオタイトル</th>
      <th>システム</th>
      <th>作者</th>
      <th>公開範囲</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.name %></td>
        <td><%= scenario.user.name %></td>
        <td><%= ACCESS_LEVEL.key(scenario.access) %></td>
        <td><%= link_to 'Show', [@community, scenario] %></td>
        <td><%= link_to 'Edit', edit_community_scenario_path(@community, scenario) %></td>
        <td><%= link_to 'Destroy', [@community, scenario], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'シナリオを作成する', new_community_scenario_path(@community) %>
