<div class="container">
<h2>パスワードを忘れた</h2>
<p>パスワードの再設定案内メールを送る</p>
<div class="space01"></div>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
<div class="row">
	<div class="col-md-offset-2 col-md-8 col-xs-12">
		<section class="widget">
		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true %>
		  </div>
		  <%= render "devise/shared/links" %>
		  <div class="form-actions">
		    <%= f.button :submit, "パスワード再設定メールの送信" %>
		  </div>
		</section>
	</div>
</div>  
<% end %>
<div class="space01"></div>
</div>