<%= simple_form_for([@community, @communities_joining]) do |f| %>
  <% if @communities_joining.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@communities_joining.errors.count, "error") %> prohibited this communities_joining from being saved:</h2>

      <ul>
      <% @communities_joining.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">

      <%= f.input :role_id, collection: Role.all, :selected => 3 %>
      <%= f.input :comment %>

      <div class="space01"></div>

      <div class="actions">
        <%= f.submit '参加を申込む', :class=>"btn btn-default" %>
      </div>
      <% end %>
    </div>
  </div>
