<div class="container">
<h1><%= current_user.name %></h1>
<h1>【<%= @community.name %>】メンバーリスト</h1>
<p>コミュニティ『<%= @community.name %>』のメンバー一覧です。</p>

<div class="space01"></div>

<div class="row">
  <div class="col-md-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>名前</th>
          <th>コメント</th>
          <th>種別</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @communities_joinings.each do |community_joining| %>
        <tr>
          <td><%= community_joining.user.name %></td>
          <td><%= community_joining.comment %></td>
          <td><%= community_joining.role.name %></td>
          <% if can? :update, community_joining %>
            <td class="center"><%= link_to '変　更', edit_community_joining_path(community_joining.community, community_joining), :class=>"btn btn-warning btn-sm" %>
          <% end %>
          <% if can? :destroy, community_joining %>
            <%= link_to '削　除', [community_joining.community, community_joining], method: :delete, data: { confirm: '削除してよろしいですか？'}, :class=>"btn btn-danger btn-sm" %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="space01"></div>

<% unless current_user.joined?(@community) %>
  <%= link_to 'このコミュニティに参加する', new_community_joining_path, :class=>"btn btn-primary btn-lg" %>
<% end %>
<div class="space01"></div>
<section class="widget">
  <ol class="breadcrumb">
    <li><%= link_to '戻る', @community %></li>
  </ol>
</section>
</div>