<h1>【<%= @community.name %>】メンバーリスト</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities_joinings.each do |community_joining| %>
      <tr>
	<td><%= community_joining.user.email %></td>
        <td><%= link_to '修正', edit_community_joining_path(community_joining.community, community_joining) %></td>
        <td><%= link_to '削除', [community_joining.community, community_joining], method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless current_user.joined?(@community) %>
  <%= link_to '参加', new_community_joining_path %>
<% end %>
