<h1>【<%= @community.name %>】メンバーリスト</h1>
<p>コミュニティ『<%= @community.name %>』のメンバー一覧です。</p>

<div class="space01"></div>

<div class="row">
  <div class="col-md-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>メールアドレス</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @communities_joinings.each do |community_joining| %>
        <tr>
          <td><%= community_joining.user.email %></td>
          <td class="center"><%= link_to '修　正', edit_community_joining_path(community_joining.community, community_joining), :class=>"btn btn-warning btn-sm" %>
          <%= link_to '削　除', [community_joining.community, community_joining], method: :delete, data: { confirm: '削除してよろしいですか？'}, :class=>"btn btn-danger btn-sm" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="space01"></div>

<% unless current_user.joined?(@community) %>
  <%= link_to 'このコミュニティに参加する', new_community_joining_path, :class=>"btn btn-primary btn-block btn-lg" %>
<% end %>
<div class="space01"></div>
<%= link_to '戻る', @community %>
<div class="space01"></div>