<div class="row">

    <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade">

        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="animated fadeInLeftBig">
                            <h1 class="slide-one-header"><strong>Sabatora</strong> <br><small>Online Session Tool</small></h1>
                            <div class="alert alert-primary">
								<button class="close" data-dismiss="alert" type="button">×</button>
								<strong>Warning!</strong>
								現在テスト中です。
							</div>
                            <p class="lead hidden-xs">
                                TRPGオンラインセッション用ツール"さばとら"<br>
						        ”さばとら”はオンラインセッションのためのツールです。<br>
								さばとらtwitter：<a href="https://twitter.com/sabatora_dev">sabatora_dev</a>
                            </p>
                            <p>
                                <% if user_signed_in? %>
                                        ログインしています
						        <% else %>
							        <div class="row">
							    		<div class="col-xs-6 pull-right">           
							           <%= link_to 'さばとらをはじめる', new_user_registration_path, :class=>"btn btn-block btn-lg btn-primary" %>
							           </div>
							   		</div>
							    <% end %>
                            </p>
                        </div>   
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="text-align-center animated fadeInRightBig">
                            <%= image_tag 'sabatora_top.png', :class=>"img-responsive", :alt=>"sabatora" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
	<div class="space01"></div>
	<div class="col-md-offset-1 col-md-10">

	    <div class="row">
			<div class="col-sm-12">
				<section class="widget">
					<div class="body no-margin">
						<i class="fa fa-info-circle"></i>
						<span>
						<strong>2014.9.3</strong>
						テンプレート変更　あれこれ適合中
						</span>
					</div>
				</section>
			</div>
		</div>

    <% if current_user %>
        <div class="row">
            <div class="col-sm-12">
                <section class="widget">
                    <div class="div">
                                参加中のコミュニティ<br>

                                    <% current_user.communities.each do |community| %>
                                        <%= link_to community.name, community_path(community) %>
                                    <% end %>

                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="widget">
                    <div class="div">
                                参加中のセッション<br>

                                    <% current_user.rooms.each do |room| %>
                                        <%= link_to room.name, community_room_path(room.community, room) %>
                                    <% end %>

                    </div>
                </section>
            </div>
        </div>
     <% end %>
		<div class="row">
            <div class="col-md-12">
                <h2 class="page-title">What's new</h2>
                <p>新しいコミュニティやセッションのおしらせ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                        	<li class="active">
                                <a href="#new_session" data-toggle="tab">Session</a>
                            </li>
                            <li>
                                <a href="#new_communities" data-toggle="tab">Communities</a>
                            </li>
                            <li>
                                <a href="#new_event" data-toggle="tab">Event</a>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="new_communities" class="tab-pane ">
                            <h4>新しいコミュニティ</h4>
                           	<ul>
                                <% @newbie_communities.each do |community| %>
								<li><%= link_to community.name, community_path(community) %> <span class="small"><%= truncate community.about, length: 15, omission: '... ' %></span> <span class="small">(<%= community.created_at.to_s(:short) %>)</span></li>
                                <% end %>
							</ul>
                            <div class="pull-right">
                            	<%= link_to "コミュニティを全て見る", communities_path, :class=>"btn btn-primary btn-xs" %>
                                <button class="btn btn-inverse btn-xs">Cancel</button>
                            </div>
                        </div>
                        <div id="new_session" class="tab-pane active clearfix">
                            <h4>新しいセッション</h4>
                            <ul>
								<li>新しいセッションのお知らせ１</li>
							</ul>
							<div class="pull-right">
                            	<%= link_to "セッションを全て見る", communities_path, :class=>"btn btn-primary btn-xs" %>
                            </div>
                        </div>
                        <div id="new_event" class="tab-pane">
                            <h4>新しいイベント</h4>
                            <ul>
								<li>新しいイベントのお知らせ１</li>
							</ul>
							<div class="pull-right">
                            	<%= link_to "イベントを全て見る", communities_path, :class=>"btn btn-primary btn-xs" %>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
	        <div class="col-sm-12">
	            <section class="widget">
	                <header>
	                    <h5>
	                        <i class="fa fa-tasks"></i>
	                        Sabatora 開発進捗
	                    </h5>
	                </header>
	                <div class="body">
                        <div class="panel-group" id="accordion2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        現在できることリスト
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse in collapse" style="height: auto;">
                                    <div class="panel-body">
                                        <p>・ユーザー登録　<span class="label label-success">済</span></p>
								        <p>・マイページが作成される　<span class="label label-success">済</span></p>
								        <p>・セッション参加記録がつく</p>
								        <p>・アバターが登録できる</p>
								        <p>・コミュニティに登録できる　<span class="label label-success">済</span></p>
								        <p>・コミュニティページが作成できる</p>
								        <p>・コミュニティページにメンバーページが作成できる</p>
								        <p>・セッション部屋が作成できる　<span class="label label-success">済</span></p>
								        <p>・作成したキャラを登録できる</p>
								        <p>・背景が登録できる　<span class="label label-success">済</span></p>
								        <p>・マップが作成できる</p>
								        <p>・シーン管理ができる</p>
								        <p>・キャラが作成できる　<span class="label label-success">済</span></p>
								        <p>・キャラシートに画像がアップロードできる　<span class="label label-success">済</span></p>
								        <p>・キャラシートに能力値を記録できる　<span class="label label-success">済</span></p>
								        <p>・キャラシートにメモ欄がある　<span class="label label-success">済</span></p>
								        <p>・セッション部屋内でチャットができる　<span class="label label-success">済</span></p>
								        <p>・ロビーでチャットができる　<span class="label label-success">済</span></p>
								        <p>・個人チャットができる　<span class="label label-success">済</span></p>
								        <p>・チャットでダイスが振れる（値に偏りがない）　<span class="label label-success">済</span></p>
								        <p>・ダイスを振ると、成功・失敗したかの判定が出る　<span class="label label-success">済</span></p>
								        <p>・システム上でキャラの能力値を最低限作成できる　<span class="label label-success">済</span></p>
								        <p>・セッションログがダウンロードできる　<span class="label label-success">済</span></p>
								        <p>・セッションログのHTML出力ができる</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        将来的に実装する仕様リスト
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>・コミュニティを公開・非公開設定ができる</p>		        
								        <p>・コミュニティ掲示板作成</p>
								        <p>・コミュニティ専用スケジュールの作成</p>
								        <p>・コミュニティ専用wikiの作成</p>
								        <p>・セッション部屋に立ち絵・BGM・効果音実装</p>
								        <p>・セッション部屋にアバターアイコン・エモーションアイコン実装</p>
								        <p>・セッションを動画記録できるようにする</p>
								        <p>・セッション部屋でNPCを作成できる</p>
								        <p>・背景設定に動画を使用できる</p>
								        <p>・セッション部屋で動画が再生できる</p>
								        <p>・セッションをROMできる（ROMメンバーは参加中メンバーには見えない）</p>
								        <p>・セッションログの長期保存（半年〜１年ほど）</p>
								        <p>・ユーザー用スケジュール作成</p>
								        <p>・ユーザー同士で送り合えるメッセージ機能</p>
								        <p>・フレンド機能</p>
								        <p>・称号ページ作成</p>
								        <p>・シナリオ管理機能作成</p>
								        <p>・デフォルトシナリオを用意する</p>
								        <p>・公開シナリオを作れる</p>
								        <p>・作成されたシナリオをダウンロードできる</p>
                                    </div>
                                </div>
                            </div>
                        </div>
	                </div>
	            </section>
	        </div>
	    </div>

		<!-- スペシャルサンクス -->
		<div class ="row">
			<div class="col-sm-offset-6 col-sm-6 col-xs-12">
				<div class="well margin-none">
					<address class="margin-none">
						<h2 class="margin-none">Special Thanks</h2>
						<br>
						<strong>黒色さま</strong>(TOP画像)
						<abbr title="Work email">twitter:</abbr>
						<a href="https://twitter.com/popopokko">@popopokko</a>
						<br>
						<strong>白霧さま</strong>(立ち絵)
						<abbr title="Work email">twitter:</abbr>
						<a href="https://twitter.com/deepfog_hkm">@deepfog_hkm</a>
						<br>
						<strong>牛野田さま</strong>(プログラム)
						<abbr title="Work email">twitter:</abbr>
						<a href="https://twitter.com/usinoda">@usinoda</a>
						<br>
						<strong>らぁさま</strong>(プログラム)
						<abbr title="Work email">twitter:</abbr>
						unknown
						<br>
					</address>
				</div>
			</div>
		</div>

    </div>
</div>
<div class="space01"></div>	    	
