<section class="mypage">
<div id="wrapper">
  <div class="container-fluid fluid menu-left">
    <%= render "common/mypage_side_menu" %>
          
    <!-- Content -->
    <div id="content">
      <h3>背景画像一覧</h3>
      <div data-collapse-closed="false" class="widget widget-gallery" data-toggle="collapse-widget">
        <div class="widget-head">
          <h4 class="heading">登録された画像一覧</h4>
        </div>
        <div style="height: auto;" class="widget-body in collapse">
    
          <!-- Gallery Layout -->
          <div class="gallery gallery-2">
            <ul class="row-fluid" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-4" data-delegate="#gallery-4">
                <% @backgrounds.each do |background| %>
                  <li class="span3">
                    <a class="thumb" data-gallery="gallery" href="../../../../common/theme/images/gallery-2/8.jpg">
                    <%= image_tag(background.image, :size=>"228x180") %><%= link_to 'Show', [@community, background] %>/<%= link_to 'Edit', edit_community_background_path(@community, background) %>/<%= link_to 'Destroy', [@community, background], method: :delete, data: { confirm: 'Are you sure?' } %>
                    </a>
                    
                  </li>         
                <% end %>
            </ul>
          </div>
          <!-- // Gallery Layout END -->
    
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Room</th>
            <th>Image</th>
            <th>Name</th>
            <th>About</th>
            <th>User</th>
            <th>Access</th>
            <th>Community</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @backgrounds.each do |background| %>
            <tr>
              <td><%= background.room %></td>
              <td><%= background.image %></td>
              <td><%= background.name %></td>
              <td><%= background.about %></td>
              <td><%= background.user %></td>
              <td><%= background.access %></td>
              <td><%= background.community %></td>
              <td><%= link_to 'Show', [@community, background] %></td>
              <td><%= link_to 'Edit', edit_community_background_path(@community, background) %></td>
              <td><%= link_to 'Destroy', [@community, background], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


    <%= link_to 'New Background', new_community_background_path %>

    </div>

  </div>
</div>
</section>


