<div class="container">

<p>
  <strong>Room:</strong>
  <%= @background.room %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @background.image_url(:thumb) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @background.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @background.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @background.user %>
</p>

<p>
  <strong>Access:</strong>
  <%= @background.access %>
</p>

<p>
  <strong>Community:</strong>
  <%= @background.community %>
</p>
<div class="space01"></div>
<%= link_to '編集', edit_community_background_path(@community, @background) %> |
<%= link_to '背景画像一覧', community_backgrounds_path %>|<%= link_to "戻る", :back %>
</div>
