<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
	  <div class="form-inputs">
	    <%= f.input :name %>
	    <%= f.input :about %>
	    <%= f.input :system_id, collection: System::TITLES.sort.map {|k,v| [k, v]},:include_blank => false %>
	    <%= f.input :image, as: :file %>
	    <%= f.input :paramaters %>
	    <%= f.input :profile %>
	
	    <%= f.input :memo %>
	    <%= f.input :user_id, as: :hidden %>
	    <%= f.input :illustration do %>
		    <%= f.select :illustration_ids, Illustration.usables(current_user).map { |f| [f.name, f.id, { 'data-img-src' => f.image_url(:thumb) }] }, { prompt: "立ち絵を選択してください" }, { multiple: true, limit: 20, class: "image-picker show-labels show-html" } %>
	    <% end %>

	  </div>

	  <div class="form-actions">
	    <%= f.button :submit %>
	  </div>
	</div>
</div
<% end %>

<script>
$('#character_illustration_ids').imagepicker({
	hide_select: false,
	show_label: true
	});
</script>
