<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
	  <div class="form-inputs">
	    <%= f.input :name %>
	    <%= f.input :about %>
	    <%= f.input :system_id, collection: System::TITLES.sort.map {|k,v| [k, v]},:include_blank => false %>
	    <%= f.input :image, as: :file %>
	    <%= f.input :paramaters %>
	    <%= f.input :profile %>
	    <%= f.input :status %>
	    <%= f.input :memo %>
	    <%= f.input :user_id, as: :hidden %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit %>
	  </div>
	</div>
</div
<% end %>
