<div class="container">
<h2><%= @character.name %>詳細</h2>
<p>作成したキャラクターの詳細情報です。</p>
<p id="notice"><%= notice %></p>
<div class="space01"></div>
<p><strong>キャラクター名：</strong><%= @character.name %></p>
<p><strong>説明：</strong><%= @character.about %></p>
<p><strong>キャラ作成者：</strong><%= @character.user.name %></p>
<%= System::TITLES.key(@character.system_id) %>

<div class="well">
  パラメータ <br />
<%= @character.paramaters %>
</div>
<%= form_tag update_params_character_path(@character) do %>
  <%= submit_tag "振り直し" %> (振り直し回数<%= @character.retry_number %>)
<% end %>

<div class="space01"></div>
<%= link_to '編集', edit_character_path(@character) %> |
<%= link_to "戻る", :back %>

<div class="space01"></div>
</div>
