

<dl id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket"></dl>
<%= form_tag('#', {id: :chat_form}) do %>
  <%= hidden_field :user, :id, value: current_user.id %>
  <%= hidden_field :user, :channel_key, value: current_user.channel_key %>
  	<div id="input-chat">
  		<div class="row">
			<div class="col-sm-2 col-xs-12">
				<p id="username"><strong><%= current_user.name %></strong></p>
				<% if @room && @room.character(current_user) %>
				  <p id="username2"><strong><%= @room.character(current_user).name%></strong></p>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-xs-12">
			  <%= text_field :chat, :message, :class=>"form-control" %>
			</div>
			<div class="col-sm-2 col-xs-12">
			  <%= submit_tag :送　信, id: "send", :class=>"btn btn-primary btn-block" %>

			</div>
		</div>
	</div>
	<% end %>
