<div class="container">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="single-widget-container">
  <section class="widget login-widget">
      <header>
        <h2>Sign in <small>ログイン</small></h2>
      </header>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>
		  	
		  <div class="form-actions">
		    <%= f.button :submit, "ログイン", :class=>"btn btn-info btn-lg btn-block" %>
		    <div class="forgot">
		  		<%= render "devise/shared/links" %>
			</div>
		  </div>
		</section>
	</div>
</div>
<% end %>

<div class="space01"></div>
</div>