<h1><%= @community.name %>の部屋一覧</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
	<td><%= room.name %></td>
	<td><%= room.owner.name %></td>
	<td><%= room.about %></td>
        <td><%= link_to 'Show', [@community, room] %></td>
        <td><%= link_to 'Edit', edit_community_room_path(@community, room) %></td>
        <td><%= link_to 'Destroy', [@community, room], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_community_room_path %>
