<div class="container">
<h1><%= @community.name %>のセッションルーム一覧</h1>
<p>コミュニティ『<%= @community.name %>』が作成したセッションルームの一覧です。</p>

<div class="space01"></div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>セッションルーム名</th>
          <th>ルームオーナー</th>
          <th>説明</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr>
        	<td><%= link_to room.name, [@community, room] %>
		  <% if (can? :create, Player) && !room.has_member?(current_user) %>
        	    <%= link_to 'このセッションに参加する', new_community_room_player_path(@community, room), :class=>"btn btn-primary btn-xs" %></td>
		<% end %>
        	<td><%= room.owner.name %></td>
        	<td><%= room.about %>
		  <% if can? :playspace, room %>
		    <%= link_to 'セッションルームへ', playspace_community_room_path(@community, room), :class=>"btn btn-primary btn-xs", data: { no_turbolink: true } %>
		  <% end %>
		</td>
          <td class="center">
            <%= link_to '表　示', [@community, room], :class=>"btn btn-success btn-sm" %>
	    <% if can? :manage, @room %>
              <%= link_to '編　集', edit_community_room_path(@community, room), :class=>"btn btn-warning btn-sm" %>
              <%= link_to '削　除', [@community, room], method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, :class=>"btn btn-danger btn-sm" %>
	    <% end %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="space01"></div>

<%= link_to '新しくセッションルームを作成する', new_community_room_path, :class=>"btn btn-info" %>

<div class="space01"></div>
<%= link_to '戻る', @community %>
<div class="space01"></div>
</div>
