<% content_for :head do %>
  <%=raw "<meta http-equiv='refresh' content='60'>" %>
<% end %>

<section class="room">
<div id="wrapper">
	<div class="container-fluid fluid menu-left">
	  <%= render "playspace_side_menu" %>
					
		<!-- Content -->
		<div id="content">
			<h1>プレイルーム</h1>
			<p>セッションページです。</p>
			<div class="space01"></div>
			<%= hidden_field :room, :id, value: @room.id %>
			<% if @room.active_background %>
			  <%= collection_select :background, :select, @room.backgrounds, :id, :name, selected: @room.active_background.id %>
			<% end %>
			  <div id="test" style="height: 50px; width: 200px; border: solid red 1px;">
  
</div>

			<%= render "chat/chat_form" %>
			<div class="space01"></div>
			<p><%= link_to "Home", welcome_index_path %>｜<%= link_to "Back", :back %></p>
			<div class="space01"></div>
		</div>

	</div>
</div>
</section>
