<section class="room">
<div id="wrapper">
	<div class="container-fluid fluid menu-left">
		<div id="menu" class="hidden-phone hidden-print">
			
			<!-- Scrollable menu wrapper with Maximum height -->
			<div class="slim-scroll" data-scroll-height="800px">
			
			<!-- Sidebar Profile -->
			<span class="profile">
				<p>Welcome <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><%= current_user.name %></a></p>
				<a class="img" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><%= image_tag("ergo/avatar-style-light.jpg") %></a>
				<span>
					<ul>
						<li><a href="" class="glyphicons lock"><i></i>Account</a></li>
						<li><a href="" class="glyphicons keys"><i></i>Password</a></li>
						<li><a href="" class="glyphicons eject"><i></i>Logout</a></li>
					</ul>
				</span>
			</span>
			<!-- // Sidebar Profile END -->
				
			<!-- Regular Size Menu -->
			<ul class="menu-0">
				
				<!-- Menu Regular Item -->
				<li class="glyphicons display"><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Dashboard</span></a></li>
					
					<!-- Components Submenu Level 1 -->
				<li class="hasSubmenu glyphicons cogwheels active">
					<a data-toggle="collapse" href="#menu_components"><i></i><span>Components</span></a>
					<ul class="collapse in" id="menu_components">
						
						<!-- Components Submenu Level 2 -->
						<li class="hasSubmenu active">
							<a data-toggle="collapse" href="#menu_forms"><span>Forms</span></a>
							<ul class="collapse in" id="menu_forms">
								<li class=""><a href="form_wizards.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Form Wizards</span></a></li>
								<li class=" active"><a href="form_elements.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Form Elements</span></a></li>
								<li class=""><a href="form_validator.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Form Validator</span></a></li>
								<li class=""><a href="file_managers.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>File Managers</span></a></li>
							</ul>
							<span class="count">4</span>
						</li>
						<!-- // Components Submenu Level 2 END -->
						
						<!-- Components Submenu Regular Items -->
						<li class=""><a href="ui.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>UI Elements</span></a></li>
						<li class=""><a href="icons.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Icons</span></a></li>
						<li class=""><a href="widgets.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Widgets</span></a></li>
						<li class=""><a href="tabs.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Tabs</span></a></li>
						<li class=""><a href="sliders.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Sliders</span></a></li>
						<li class=""><a href="charts.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Charts</span></a></li>
						<!-- // Components Submenu Regular Items END -->
						
						<!-- Components Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_tables"><span>Tables</span></a>
							<ul class="collapse" id="menu_tables">
								<li class=""><a href="tables.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Tables</span></a></li>
								<li class=""><a href="pricing_tables.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Pricing tables</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Components Submenu Level 2 -->
						
						<!-- Components Submenu Regular Items -->
						<li class=""><a href="grid.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Grid system</span></a></li>
						<li class=""><a href="notifications.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Notifications</span></a></li>
						<li class=""><a href="modals.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Modals</span></a></li>
						<li class=""><a href="thumbnails.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Thumbnails</span></a></li>
						<li class=""><a href="carousels.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Carousels</span></a></li>
						<li class=""><a href="tour.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Page Tour</span></a></li>
						<!-- // Components Submenu Regular Items END -->
						
					</ul>
					<span class="count">18</span>
				</li>
				<!-- Components Submenu Level 1 END -->
					
				<!-- Exmaples Submenu Level 1 -->
				<li class="hasSubmenu">
					
					<a data-toggle="collapse" class="glyphicons luggage" href="#menu_examples"><i></i><span>Examples</span></a>
					<ul class="collapse" id="menu_examples">
						
						<!-- Account Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_account"><i></i><span>Account</span></a>
							<ul class="collapse" id="menu_account">
								<li class=""><a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Advanced profile</span></a></li>
								<li class=""><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>My Account</span></a></li>
								<li><a href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Login</span></a></li>
								<li><a href="signup.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Register</span></a></li>
							</ul>
							<span class="count">4</span>
						</li>
						<!-- // Account Submenu Level 2 END -->
						
						<!-- Landings Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_landings"><i></i><span>Landing pages</span></a>
							<ul class="collapse" id="menu_landings">
								<li><a href="landing_page_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Landing #1</span></a></li>
								<li><a href="landing_page_2.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Landing #2</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Landings Submenu Level 2 END -->
					
						<!-- Examples Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_gallery"><i></i><span>Photo Gallery</span></a>
							<ul class="collapse" id="menu_gallery">
								<li class=""><a href="gallery_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Regular</span></a></li>
								<li class=""><a href="gallery_2.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Masonry</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Examples Submenu Level 2 END -->
						
						<!-- Examples Submenu Level 2 -->
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_maps"><i></i><span>Maps</span></a>
							<ul class="collapse" id="menu_maps">
								<li class=""><a href="maps_vector.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Vector maps</span></a></li>
								<li class=""><a href="maps_google.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Google maps</span></a></li>
							</ul>
							<span class="count">2</span>
						</li>
						<!-- // Examples Submenu Level 2 END -->
						
						<!-- Examples Submenu Regular Items -->
						<li class=""><a href="invoice.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Invoice</span></a></li>
						<li class=""><a href="faq.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>FAQ</span></a></li>
						<li class=""><a href="calendar.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><i></i><span>Calendar</span></a></li>
						<!-- // Examples Submenu Regular Items END -->
						
						<li class="hasSubmenu">
							<a data-toggle="collapse" href="#menu_ecommerce"><i></i><span>Online Shop</span></a>
							
							<!-- Closed by default -->
							<ul class="collapse" id="menu_ecommerce">
								<li class="hasSubmenu">
									<a data-toggle="collapse" href="#menu_ecommerce_client"><i></i><span>Client interface</span></a>
									<ul class="collapse" id="menu_ecommerce_client">
										<li class=""><a href="shop_client_products.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Products</span></a></li>
										<li class=""><a href="shop_client_product.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Product details</span></a></li>
										<li class=""><a href="shop_client_cart.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Shopping cart</span></a></li>
									</ul>
									<span class="count">3</span>
								</li>
								<li class="hasSubmenu">
									<a data-toggle="collapse" href="#menu_ecommerce_admin"><i></i><span>Management</span></a>
									<ul class="collapse" id="menu_ecommerce_admin">
										<li class=""><a href="shop_admin_products.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Products</span></a></li>
										<li class=""><a href="shop_admin_product.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Add product</span></a></li>
									</ul>
									<span class="count">2</span>
								</li>
							</ul>
							<span class="count">5</span>
						</li>
						
						<li class=""><a href="bookings.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Bookings</span></a></li>
						<li class=""><a href="finances.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Finances</span></a></li>
						<li class=""><a href="pages.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Site Pages</span></a></li>
						<li><a href="error.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Error page</span></a></li>
						<li><a href="blank.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light"><span>Blank page</span></a></li>
						
					</ul>
					<span class="count">21</span>
				</li>
				<!-- // Examples Submenu Level 1 END -->
									
			</ul>
			<div class="clearfix"></div>
			<!-- // Regular Size Menu END -->
				
			<ul class="menu-1">
				<li class="hasSubmenu active">
					<a class="glyphicons wifi_alt" href="#menu-recent-stats" data-toggle="collapse"><i></i><span>Recent stats</span></a>
					<ul class="collapse in" id="menu-recent-stats">
						<li><a class="glyphicons envelope" href="#"><i></i><span>5 New Emails</span></a></li>
						<li><a class="glyphicons chat" href="#"><i></i><span>New Message on 19 Jan</span></a></li>
						<li><a class="glyphicons user_add" href="#"><i></i><span>10 Users Subscribed</span></a></li>
						<li><a class="glyphicons cart_in" href="#"><i></i><span>2 Orders worth of &dollar;239</span></a></li>
						<li><a class="glyphicons single circle_plus" href="#"><i></i><span>View all</span></a></li>
					</ul>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div class="separator bottom"></div>
				
			<!-- Sidebar Stats Widgets -->
			<div class="widget-sidebar-stats">
				<strong>3,540</strong>
				<span>Messages</span>
				<span class="pull-right sparkline"></span>
				<div class="clearfix"></div>
			</div>
			<div class="widget-sidebar-stats">
				<strong>2,510,402</strong>
				<span>Photos</span>
				<span class="pull-right sparkline"></span>
				<div class="clearfix"></div>
			</div>
			<div class="separator bottom"></div>
			<!-- // Sidebar Stats Widgets END -->
				
			<!-- Stats Widget -->
			<a href="" class="widget-stats widget-stats-2 widget-stats-easy-pie widget-sidebar-stats txt-single">
				<div data-percent="90" class="easy-pie primary"><span class="value">90</span>%</div>
				<span class="txt">Completed tasks</span>
				<div class="clearfix"></div>
			</a>
			<!-- // Stats Widget END -->
			
			<div class="widget-sidebar-stats">
				<h5>Generic widget</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
							
							
							
		</div>
		<!-- // Scrollable Menu wrapper with Maximum Height END -->
				
	</div>
	<!-- // Sidebar Menu END -->
					
			<!-- Content -->
			<div id="content">
				<h1>プレイルーム</h1>
				<p>セッションページです。</p>
				<div class="space01"></div>
				<%= hidden_field :room, :id, value: @room.id %>

				<%= render "chat/chat_form" %>
				<div class="space01"></div>
				<p><%= link_to "Home", welcome_index_path %>｜<%= link_to "Back", :back %></p>
				<div class="space01"></div>
			</div>
	</div>
</div>
</section>