<p id="notice"><%= notice %></p>
<%= @room.name %>
<%= @player.character.name %>
<%= @player.player_role.name %>

<%= link_to 'Edit', edit_community_room_player_path(@community, @room, @player) %> |
<%= link_to 'Back', community_room_players_path(@community, @room) %>
