<div class="container">
<p id="notice"><%= notice %></p>
<h1><%= @room.name %>参加キャラクター詳細</h1>
<p>セッションで使用する参加キャラクターの詳細です。</p>
<div class="space01"></div>

<p><strong>キャラクター名：</strong><%= @player.character.name unless @player.character.nil? %></p>
<p><strong>役割：</strong><%= @player.player_role.name %></p>

<div class="space01"></div>
<%= link_to '編集', edit_community_room_player_path(@community, @room, @player) %> |
<%= link_to 'セッション参加者一覧', community_room_players_path(@community, @room) %>｜<%= link_to "戻る", :back %>
<div class="space01"></div>
</div>