<%= simple_form_for(@community) do |f| %>
      <div class="field">
        <%= f.input :name %><br>
      </div>
      <div class="field">
        <%= f.input :about %>
      </div>
      <div class="field">
      <% if @community.header? %>
        <%= image_tag  @community.header_url %>
        <%= f.input :remove_header, label: "画像を削除", checked_value: true, unchecked_value: false  do %>
          <%= f.check_box :remove_header %>
        <% end %>
        <%= f.hidden :header_cache if @community.header_cache %>
      <% end %>
        <%= f.input :header, as: :file %>
        <%= f.hint "800x200サイズで登録してください。Max5MB" %>
      </div>
      
      <% if @community.icon? %>
        <%= image_tag  @community.icon_url %>
        <%= f.input :remove_icon, label: "画像を削除", checked_value: true, unchecked_value: false  do %>
          <%= f.check_box :remove_icon %>
        <% end %>
        <%= f.hidden :icon_cache if @community.icon_cache %>
      <% end %>
      <%= f.input :icon, as: :file %>
      <%= f.hint "50x50サイズで登録して下さい" %>
      
      <div class="field">
        <%= f.input :description %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
<% end %>

