<section class="community-top bottom" style="background-image: url(<%= @community.header_url %>)">
<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <div class="col-sm-10 col-xs-12">
    <h1><%= image_tag @community.icon_url, :class=>"img-responsive img_commu" %>
      <%= @community.name %></h1>
    <p><%= @community.about %></p>
  </div>
  <% if can? :manage, @community %>
    <div class="col-sm-2 col-xs-12">
      <%= link_to 'コミュニティの編集', edit_community_path(@community), :class=>"btn btn-warning btn-xs btn-block" %>
    </div>
  <% end %>
</div>
</section>
<section class="community-main">
  <%= @community.description.html_safe %>
  <br>
  <div class="pagination">
    <a href="#" class="btn btn-default btn-xs"><%= @community.name %>掲示板</a>
    <a href="#" class="btn btn-default btn-xs"><%= @community.name %>Wiki</a>
    <%= link_to community_backgrounds_path(@community), :class=>"link btn btn-primary btn-xs" do %>
      <i class="fa fa-file-image-o "></i>
      背景管理
    <% end %>
    <%= link_to community_illustrations_path(@community), :class=>"link btn btn-primary btn-xs" do %>
      <i class="fa fa-users"></i>
      立ち絵管理
    <% end %>
  </div>

  <% unless current_user && @community.has_member?(current_user) %>
    <%= render :partial => "entry_button" %>
  <% end %>

  <div class="space01"></div>

  <section class="widget" id="shares-widget">
    <header>
      <h5>
          <span class="label label-primary"><i class="fa fa-flag"></i></span> &nbsp; New Event
      </h5>
    </header>
    <div class="body">
    
      <div class="list-group rooms-list-group">
          <a href="#" class="list-group-item">
              <h5 class="no-margin">ここはまだダミー</h5>
          </a>
          <a href="#" class="list-group-item">
              <h5 class="no-margin">Ianus Arendse</h5>
          </a>
          <a href="#" class="list-group-item">
              <h5 class="no-margin">Valdemar Landau</h5>
          </a>
          <div class="list-group-item">
            <%= link_to "全て見る", community_rooms_path(@community), :class=>"btn btn-xs btn-info pull-right" %>
          </div>
      </div>
      
    </div>
    <div class="clearfix">
  </section>

  <div class="row">
    <div class="col-sm-8 col-xs-12">
      <div class="widget">
        <header>
          <h5>
          <span class="label label-primary"><i class="fa fa-comments-o "></i></span> &nbsp; New room　<small>新しいセッションルーム</small>
          </h5>
        </header>
        <div class="body">
          <div class="list-group rooms-list-group">
            <% @community.rooms.limit(5).each do |room| %>
              <div class="list-group-item">
                <%= link_to room.name, community_room_path(@community, room)%>
                &nbsp;
                <% if can? :playspace, room %>
                  <%= link_to 'セッションルームに飛ぶ', playspace_community_room_path(@community, room), data: { no_turbolink: true } , :class=>"btn btn-success btn-xs" %>
                  &nbsp;
                <% end %>
                オーナー：<%= room.owner.name %>
              </div>
            <% end %>
            <div class="list-group-item">
              <%= link_to "全て見る", community_rooms_path(@community), :class=>"btn btn-info btn-xs pull-right" %>
            </div>
          </div>
        <div class="clearfix"></div>  
        </div>
      </div>
    </div>


    <div class="col-sm-4 col-xs-12">
      <div class="widget">
        <header>
          <h5>
            <span class="label label-primary"><i class="fa fa-users "></i></span> &nbsp; New member　<small>新しいメンバー</small>
          </h5>
        </header>
        <div class="body">
          <div class="list-group users-list-group">
            <% @community.joinings.limit(5).each do |member| %>
              <div class="list-group-item">
                <%= member.user.name %>
              </div>
            <% end %>
            <div class="list-group-item">
              <%= link_to "全て見る", community_joinings_path(@community), :class=>"btn btn-info btn-xs pull-right" %></div>
          </div>
        <div class="clearfix"></div>  
        </div>
      </div>  
    </div>
  </div>

</section>
<div class="space01"></div>
<section class="widget">
  <ol class="breadcrumb">
    <li><%= link_to 'コミュニティ一覧', communities_path %></li>
    <li><%= link_to "戻る", :back %></li>
  </ol>
</section>
