<div class="container">
<section class="community-top bottom">
<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <div class="col-sm-1 col-xs-12">
     <%= image_tag 'sabatora_top.png', :class=>"img-responsive center-block", :alt=>"sabatora" %>
  </div>
  <div class="col-sm-9 col-xs-12">
    <h1><%= @community.name %></h1>
    <p><%= @community.about %></p>
  </div>
  <div class="col-sm-2 col-xs-12">
    <%= link_to 'コミュニティの編集', edit_community_path(@community), :class=>"btn btn-warning btn-xs" %>

  </div> 
</div>
</section>
<section class="community-main">
  <%= @community.description %>
  <br>
  <div class="pagination">
    <a href="#" class="btn btn-default btn-xs"><%= @community.name %>掲示板</a>
    <a href="#" class="btn btn-default btn-xs"><%= @community.name %>Wiki</a>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12">
        <%= link_to "このコミュニティに参加する", new_community_joining_path(@community), :class=>"btn btn-primary  btn-lg" %>
    </div>
  </div>

  <div class="space01"></div>

  <div class="widget">
    <div class="widget-head">
      <h4 class="heading">New Event <small>新しいイベント</small></h4>
    </div>
    <div class="widget-body list">
      <ul>
        <li>新しいイベントのお知らせ</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-xs-12">
      <div class="widget">
        <div class="widget-head">
          <h4 class="heading">New room　<small>新しいセッションルーム</small></h4>
        </div>
        <div class="widget-body list">
          <ul>
            <% @community.rooms.limit(5).each do |room| %>
              <li>
                <%= link_to room.name, playspace_community_room_path(@community, room), data: { no_turbolink: true } %>
                　オーナー：<%= room.owner.name %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="widget-top-footer">
          <div class="clearfix">
          <%= link_to "全て見る", community_rooms_path(@community), :class=>"btn btn-info btn-xs"  %>
          </div>
        </div>
      </div>  
    </div>
  	<div class="col-sm-4 col-xs-12">
      <div class="widget">
        <div class="widget-head">
          <h4 class="heading">New member　<small>新しいメンバー</small></h4>
        </div>
        <div class="widget-body list">
          <ul>
            <% @community.users.limit(5).each do |user| %>
              <li>
                <%= user.name %>
            <% end %>
          </ul>
        </div>
        <div class="widget-top-footer">
          <div class="clearfix">
          <%= link_to "全て見る", community_joinings_path(@community), :class=>"btn btn-info btn-xs" %>
          </div>
        </div>
      </div>  
    </div>
  </div>

</section>
<div class="space01"></div>
<%= link_to 'コミュニティ一覧に戻る', communities_path %>
<div class="space01"></div>
</div>
