<header class="page-header">
  <div class="navbar">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li>
        <%= link_to root_path, :title=>"Home" do %>
          <i class="fa fa-home"></i>
        <% end %>
      </li>
      <li>
        <%= link_to communities_path, :title=>"communities" do %>
          <i class="fa fa-group"></i>
        <% end %>
      </li>
      <li class="dropdown">
        <a href="#" title="Help" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-info-circle"></i>
            <span class="count">2</span>
        </a>
        <ul id="support-menu" class="dropdown-menu support" role="menu">
          <li role="presentation">
            <%= link_to help_about_path, :title=>"use sabatora", :class=>"support-ticket" do %>
              <div class="picture">
                  <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
              </div>
              <div class="details">
                  Use Sabatora 
              </div>
            <% end %>
          </li>
          <li role="presentation">
            <a href="#" class="support-ticket">
                <div class="picture">
                    <span class="label label-success"><i class="fa fa-envelope"></i></span>
                </div>
                <div class="details">
                    Contact
                </div>
            </a>
          </li>
          <li role="presentation">
              <a href="#" class="text-align-center see-all">
                  See all tickets <i class="fa fa-arrow-right"></i>
              </a>
          </li>
        </ul>
      </li>
    
      <li class="divider"></li>
      
      <li class="visible-xs">
        <a href="#" class="btn-navbar" data-toggle="collapse" data-target=".sidebar"
           title="">
          <i class="fa fa-bars"></i>
        </a>

      </li>

      <% if user_signed_in? %>

        <li class="hidden-xs">
          <%= link_to robby_path, :title=>"Chat"  do %>
            <i class="fa fa-comments"></i>
          <% end %>
        </li>

        <li class="hidden-xs dropdown">
        <a href="#" title="My page" id="account"
           class="dropdown-toggle"
           data-toggle="dropdown">
            <i class="fa fa-user"></i>
        </a>
          <ul id="account-menu" class="dropdown-menu account" role="menu">
            <li role="presentation" class="account-picture"> 
              <%= current_user.name %>.
            </li>
            <li role="presentation">
              <%= link_to edit_user_registration_path, :class=>"link" do %>
              <i class="fa fa-user"></i>
                プロフィール変更
              <% end %>
            </li>
            <% unless @community.nil? or @community.id.nil?%>
            <li role="presentation">
              <%= link_to community_backgrounds_path(@community), :class=>"link" do %>
                <i class="fa fa-file-image-o "></i>
                背景管理
              <% end %>
            </li>
             <% end %>
          </ul>
        </li>
        <li> 
          <%= link_to destroy_user_session_path, :method => :delete, :title=>"Sign out"  do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
      <% else %>           
        <li><%= link_to new_user_registration_path, :title=>"Sign up"  do %>
            <i class="fa fa-smile-o"></i>
          <% end %>
        </li>
        <li><%= link_to new_user_session_path, :title=>"Sign in" do %>
            <i class="fa fa-sign-in"></i>
          <% end %>
        </li>
      <% end %>
    
    </ul>

    <div class="notifications pull-right">
      <!-- 何かタイトル的な -->
    </div>

  </div>
</header>

<!--
<div id='user_nav'>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sabatora</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", welcome_index_path %></li>
          <li><%= link_to "Communities", communities_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">How to Sabatora</a></li>
              <li><a href="#">System</a></li>
              <li class="divider"></li>
              <li class="dropdown-header"><p><strong>Contact</strong></p></li>
              <li><a href="#">メールフォーム</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="head">ログインなう <%= current_user.email %>. <li>
            <li><%= link_to "Chat", robby_path %></li>
	    <% unless @community.nil? or @community.id.nil?%>
	      <li><%= link_to "背景管理（あとでドロップダウンメニューにして項目ふやす）", community_backgrounds_path(@community) %></li>
	     <% end %>
            <li><%= link_to "My page", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>           
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
-->
