<!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
<div class="navbar main hidden-print">
    
  <!-- Wrapper -->
  <div class="wrapper">      
    <!-- Menu Toggle Button -->
    <button type="button" class="btn btn-navbar">
      <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
    </button>
    <!-- // Menu Toggle Button END -->
    <!-- Top Menu -->
    <ul class="topnav pull-left tn1 hidden-phone">
      <!-- Themer -->
      <li><a href="#themer" data-toggle="collapse" class="glyphicons eyedropper single-icon"><i></i></a></li>
      <!-- // Themer END -->
                               
      <li class="dropdown dd-1 dd-2">
        <a href="" data-toggle="dropdown">Notifications <span class="count">3</span></a>
        <ul class="dropdown-menu pull-left">
          <li><a href="#" class="glyphicons envelope"><i></i> New Email</a></li>
          <li><a href="#" class="glyphicons chat"><i></i> 5 Messages</a></li>
          <li><a href="#" class="glyphicons conversation"><i></i> 1 New Reply</a></li>
        </ul>
      </li>
          
    </ul>
    <!-- // Top Menu END -->
                
    <!-- Top Menu Right -->
    <ul class="topnav pull-right">
      <!-- Language menu -->
      <li class="hidden-phone dropdown dd-1 dd-flags" id="lang_nav">
        <a href="#" data-toggle="dropdown"><img src="../../../../common/theme/images/lang/en.png" alt="en" /></a>
          <ul class="dropdown-menu pull-left">
              <li class="active"><a href="?page=index&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=en" title="English"><img src="../../../../common/theme/images/lang/en.png" alt="English"> English</a></li>
              <li><a href="?page=index&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=ro" title="Romanian"><img src="../../../../common/theme/images/lang/ro.png" alt="Romanian"> Romanian</a></li>
              <li><a href="?page=index&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=it" title="Italian"><img src="../../../../common/theme/images/lang/it.png" alt="Italian"> Italian</a></li>
              <li><a href="?page=index&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=fr" title="French"><img src="../../../../common/theme/images/lang/fr.png" alt="French"> French</a></li>
              <li><a href="?page=index&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light&amp;lang=pl" title="Polish"><img src="../../../../common/theme/images/lang/pl.png" alt="Polish"> Polish</a></li>
          </ul>
      </li>
      <!-- // Language menu END -->
        
      <!-- Dropdown -->
      <li class="dropdown dd-1 visible-desktop">
        <a href="" data-toggle="dropdown" class="glyphicons shield"><i></i>Get Help <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
              
          <li class="dropdown submenu">
            <a href="#" class="dropdown-toggle glyphicons bell" data-toggle="dropdown"><i></i>Level 2</a>
            <ul class="dropdown-menu submenu-show submenu-hide pull-left">
              <li class="dropdown submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.1</a>
                <ul class="dropdown-menu submenu-show submenu-hide pull-left">
                  <li><a href="#">Level 2.1.1</a></li>
                  <li><a href="#">Level 2.1.2</a></li>
                  <li><a href="#">Level 2.1.3</a></li>
                  <li><a href="#">Level 2.1.4</a></li>
                </ul>
              </li>
              <li class="dropdown submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2.2</a>
                <ul class="dropdown-menu submenu-show submenu-hide pull-left">
                  <li><a href="#">Level 2.2.1</a></li>
                  <li><a href="#">Level 2.2.2</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li><a href="" class="glyphicons settings"><i></i>Some option</a></li>
          <li><a href="" class="glyphicons bell"><i></i>Some other option</a></li>
          <li><a href="" class="glyphicons bell"><i></i>Other option</a></li>
                      
        </ul>
      </li>
      <!-- // Dropdown END -->
          
      <!-- Profile / Logout menu -->
      <li class="account dropdown dd-1">
        <a data-toggle="dropdown" href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons logout lock"><span class="hidden-phone">mosaicpro</span><i></i></a>
        
        <ul class="dropdown-menu pull-right">
          <li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons cogwheel">Settings<i></i></a></li>
          <li><a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="glyphicons camera">My Photos<i></i></a></li>
          <li class="profile">
            <span>
              <span class="heading">Profile <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="pull-right">edit</a></span>
              <span class="img"></span>
              <span class="details">
                <a href="my_account.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">Mosaic Pro</a>
                contact@mosaicpro.biz
              </span>
              <span class="clearfix"></span>
            </span>
          </li>
          <li>
            <span>
              <a class="btn btn-default btn-mini pull-right" href="login.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light">Sign Out</a>
            </span>
          </li>
        </ul>
      </li>
      <!-- // Profile / Logout menu END -->
          
    </ul>
    <!-- // Top Menu Right END -->
        
    <div class="clearfix"></div>
  </div>
  <!-- // Wrapper END -->
      
  <span class="toggle-navbar"></span>
</div>
<!--
<div id='user_nav'>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sabatora</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", welcome_index_path %></li>
          <li><%= link_to "Communities", communities_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">How to Sabatora</a></li>
              <li><a href="#">System</a></li>
              <li class="divider"></li>
              <li class="dropdown-header"><p><strong>Contact</strong></p></li>
              <li><a href="#">メールフォーム</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="head">ログインなう <%= current_user.email %>. <li>
            <li><%= link_to "Chat", robby_path %></li>
	    <% unless @community.nil? or @community.id.nil?%>
	      <li><%= link_to "背景管理（あとでドロップダウンメニューにして項目ふやす）", community_backgrounds_path(@community) %></li>
	     <% end %>
            <li><%= link_to "My page", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>           
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
-->
