<header class="page-header">
  <div class="navbar">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li class="dropdown">
        <a href="#" title="Messages" id="messages"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
          <i class="fa fa-comments"></i>
        </a>
        <ul id="messages-menu" class="dropdown-menu messages" role="menu">
          <li role="presentation">
            <a href="#" class="message">
                <img src="img/2.jpg" alt="">
                <div class="details">
                    <div class="sender">Alies Rumiancaŭ</div>
                    <div class="text">
                        I'll definitely buy this template
                    </div>
                </div>
            </a>
          </li>
          <li role="presentation">
            <a href="#" class="message">
                <img src="img/3.jpg" alt="">
                <div class="details">
                    <div class="sender">Michał Rumiancaŭ</div>
                    <div class="text">
                        Is it really Lore ipsum? Lore ...
                    </div>
                </div>
            </a>
          </li>
          <li role="presentation">
            <a href="#" class="text-align-center see-all">
                See all messages <i class="fa fa-arrow-right"></i>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" title="8 support tickets" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-group"></i>
            <span class="count">8</span>
        </a>
        <ul id="support-menu" class="dropdown-menu support" role="menu">
          <li role="presentation">
            <a href="#" class="support-ticket">
              <div class="picture">
                  <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
              </div>
              <div class="details">
                  "What is the best way to get ...
              </div>
            </a>
          </li>
          <li role="presentation">
            <a href="#" class="support-ticket">
                <div class="picture">
                    <span class="label label-success"><i class="fa fa-tag"></i></span>
                </div>
                <div class="details">
                    This is just a simple notification
                </div>
            </a>
          </li>
          <li role="presentation">
            <a href="#" class="support-ticket">
              <div class="picture">
                  <span class="label label-info"><i class="fa fa-info-circle"></i></span>
              </div>
              <div class="details">
                  12 new orders has arrived today
              </div>
            </a>
          </li>
          <li role="presentation">
            <a href="#" class="support-ticket">
              <div class="picture">
                  <span class="label label-important"><i class="fa fa-plus"></i></span>
              </div>
              <div class="details">
                  One more thing that just happened
              </div>
            </a>
          </li>
          <li role="presentation">
              <a href="#" class="text-align-center see-all">
                  See all tickets <i class="fa fa-arrow-right"></i>
              </a>
          </li>
        </ul>
      </li>
    
      <li class="divider"></li>
      
      <li class="hidden-xs">
        <a href="#" id="settings" title="Settings" data-toggle="popover" data-placement="bottom">
          <i class="fa fa-cog"></i>
        </a>
      </li>
      <li class="hidden-xs dropdown">
        <a href="#" title="Account" id="account"
           class="dropdown-toggle"
           data-toggle="dropdown">
            <i class="fa fa-user"></i>
        </a>
        <ul id="account-menu" class="dropdown-menu account" role="menu">
          <li role="presentation" class="account-picture">
            <img src="img/2.jpg" alt="">
            Philip Daineka
          </li>
          <li role="presentation">
            <a href="form_account.html" class="link">
              <i class="fa fa-user"></i>
              Profile
            </a>
          </li>
          <li role="presentation">
            <a href="component_calendar.html" class="link">
              <i class="fa fa-calendar"></i>
              Calendar
            </a>
          </li>
          <li role="presentation">
            <a href="#" class="link">
                <i class="fa fa-inbox"></i>
                Inbox
            </a>
          </li>
        </ul>
      </li>

      <li class="visible-xs">
        <a href="#" class="btn-navbar" data-toggle="collapse" data-target=".sidebar"
           title="">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li>
    </ul>

    <div class="notifications left">
      <h4>Sabatora</h4>
    </div>
    
  </div>
</header>

<!--
<div id='user_nav'>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sabatora</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", welcome_index_path %></li>
          <li><%= link_to "Communities", communities_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">How to Sabatora</a></li>
              <li><a href="#">System</a></li>
              <li class="divider"></li>
              <li class="dropdown-header"><p><strong>Contact</strong></p></li>
              <li><a href="#">メールフォーム</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="head">ログインなう <%= current_user.email %>. <li>
            <li><%= link_to "Chat", robby_path %></li>
	    <% unless @community.nil? or @community.id.nil?%>
	      <li><%= link_to "背景管理（あとでドロップダウンメニューにして項目ふやす）", community_backgrounds_path(@community) %></li>
	     <% end %>
            <li><%= link_to "My page", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>           
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
-->
