<!DOCTYPE html>
<html>
<head>
  <title>Sabatora</title>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="logo">
    <h4><a href="">Saba <strong>Tora</strong></a></h4>
  </div>
  <%= render "playroom/playspace_side_menu" %> 

  <div class="wrap">
    <%= render :partial => "/layouts/user_nav" %>

    <div class="content container">
      <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>

  </div>



</body>
</html>
